regex==2024.9.11
pandas==2.2.2  # Replace with the version you're using, if known
streamlit==1.41.1  # Replace with the version you're using, if known
pyscipopt==5.2.1  # Replace with the version you're using, if known
matplotlib==3.10.0  # Replace with the version you're using, if known